{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Enviar Solicitud</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="form-container">
        <h1><i class="fas fa-calendar"></i> Enviar Solicitud</h1>
        <form method="post" onsubmit="return validarFecha()">
            {% csrf_token %}
            <div class="input-group">
                <label for="nombre_evento"><i class="fas fa-pencil-alt"></i> Nombre del Evento:</label>
                <input type="text" id="nombre_evento" name="nombre_evento" required>
            </div>
            <div class="input-group">
                <label for="fecha"><i class="fas fa-calendar"></i> Fecha:</label>
                <input type="datetime-local" id="fecha" name="fecha" required>
            </div>
            <div class="input-group">
                <label for="espacio_id"><i class="fas fa-building"></i> Espacio:</label>
                <select id="espacio_id" name="espacio_id" required>
                    {% for espacio in espacios %}
                        <option value="{{ espacio.0 }}">{{ espacio.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn">Enviar</button>
        </form>
    </div>

    <script>
        function validarFecha() {
            const fechaInput = document.getElementById('fecha');
            const fechaSeleccionada = new Date(fechaInput.value);
            const fechaActual = new Date();

            if (fechaSeleccionada < fechaActual) {
                alert('La fecha no puede ser en el pasado.');
                return false;
            }
            return true;
        }
    </script>
</body>
</html>