{% load static %}
<!DOCTYPE html>
<meta name="viewport">
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <h1>Bienvenido al Sistema de Reservas</h1>
        <div class="buttons">
            <a href="{% url 'login' %}" class="btn">
                <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
            </a>
            <a href="{% url 'registrar_usuario' %}" class="btn">
                <i class="fas fa-user-plus"></i> Registrarse
            </a>
        </div>
    </div>
</body>
</html>