{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Encargado</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="dashboard-container">
        <h1><i class="fas fa-user-tie"></i> Dashboard Encargado</h1>
        <p>Bienvenido, {{ request.session.nombre }}.</p>
        <div class="dashboard-actions">
            <a href="{% url 'solicitudes_pendientes' %}" class="dashboard-btn"> <!-- Clase añadida -->
                <i class="fas fa-list"></i> Solicitudes Pendientes
            </a>
            <a href="{% url 'solicitudes_aceptadas' %}" class="dashboard-btn"> <!-- Clase añadida -->
                <i class="fas fa-check-circle"></i> Solicitudes Aceptadas
            </a>
            <a href="{% url 'generar_reportes' %}" class="dashboard-btn"> <!-- Clase añadida -->
                <i class="fas fa-file-alt"></i> Generar Reportes
            </a>
            <a href="{% url 'logout' %}" class="dashboard-btn"> <!-- Clase añadida -->
                <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
            </a>
        </div>
    </div>
</body>
</html>