{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Solicitudes Aceptadas</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="table-container">
        <h1>Solicitudes Aceptadas</h1>
        <table>
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Solicitante</th>
                </tr>
            </thead>
            <tbody>
                {% for solicitud in solicitudes %}
                <tr>
                    <td>{{ solicitud.1 }}</td>
                    <td>{{ solicitud.2 }}</td>
                    <td>{{ solicitud.3 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>